.Main-border {
  border: 3px solid #323232;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
}

.Header-title {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(221, 218, 218);
}

.Main-info {
  display: flex;
  justify-content: space-evenly;
}
