.text1 {
  max-height: 2.5%;
  width: 100%;
  font-family: 'Helvetica Neue';
  display: inline;
}

.text2 {
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: lowercase;
  color: #808080;
  margin-block: 0;
  gap: 0;
}

.text3 {
  padding: 15px;
  color: #808080;
  background-color: lightgray;
  border-radius: 12px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  font-weight: 400;
  font-size: 24px;
  display: block;
  border: 0 solid #808080;
  border-bottom-width: 3px;
  margin-block: 0;
}

.input {
  display: flex;
  height: 150px;
  margin: 0;
  border: 1.5px solid #808080;
  border-radius: 6px;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
}

.inputId {
  display: flex;
  height: 150px;
  margin: 0;
  border: 1.5px solid #808080;
  border-radius: 6px;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  background-color: lightgray;
}

.urlInput {
  display: flex;
  align-self: flex-start;
  border: 1.5px solid #808080;
  border-radius: 6px;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
}

.ExamInfo {
  justify-content: center;
  align-content: flex-start;
  display: flex;
  gap: 2.5%;
  flex-flow: row wrap;
  flex: 1;
  padding-top: 0;
  padding-bottom: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  max-height: 97.5vh;
  overflow: scroll;
}

.Tables {
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  width: 40%;
  min-width: 300px;
  gap: 0;
  padding-top: 0.625vh;
  padding-bottom: 0.625vh;
}

/* When Screen is narrow, arrange content in one column */
@media (max-width: 950px) {
  .Tables {
    width: 100% !important;
  }
  .InfoTable {
    min-height: 300px;
  }
}

.InfoTable {
  background-color: white;
  border: 3px solid #808080;
  border-radius: 15px;
  height: 50%;
  width: 100%;
  min-width: 250px;
  min-height: 400px;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}
.Button {
  border: none;
  font-size: 20px;
}

.Button:hover {
  background-color: #555;
}
.Text {
  width: 90%;
  padding: 15px;
  padding-top: 0px;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}
.Column {
  width: 50%;
  padding: 15px;
  padding-top: 0px;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.ExamImage {
  margin-left: auto;
  margin-right: auto;
  flex-basis: content;
  max-width: 100%;
  max-height: 65vh;
  border-radius: 15px;
}

.PatientTable {
  background-color: white;
  border: 3px solid #808080;
  border-radius: 15px;
  height: 40%;
  width: 100%;
  min-height: 250px;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  gap: 2.5vw;
  padding-bottom: 10px;
  padding-top: 0;
}

.Button {
  text-align: center;
  width: 25vw;
  max-width: 150px;
  height: 50px;
  background-color: #323232;
  border-radius: 115px;
  color: white;
}
