<<<<<<< HEAD
.MainHeroContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 20px;
  color: white;
  background-image: linear-gradient(
      0deg,
      rgba(0, 17, 114, 0.316),
      rgba(255, 0, 150, 0.5)
    ),
    url('../assets/xray-hand.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 0 0 0 20rem; */

  @media only screen and (max-width: 420px) {
    min-height: 50vh;
  }
}

.MainHeroContainer .header { 
  display: inline block;
  font-size: 84px;
  letter-spacing: 2.5px;
  font-optical-sizing:auto ;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  background-color: none;
  padding: 22px;
}

.MainHeroContainer button {
  width: 225px;
  height: 45px;
  color: white;
  border: 2px solid white;
  border-radius: 115px;
  background-color: unset;
  font-size: 24px;
  margin-top: 5vh;
  margin-right: 5vh;
  font-family: inherit ;
}

.MainHeroContainer button:hover {
  color:rgb(61, 68, 220);
  border-color:rgb(61, 68, 220);
}
=======
.MainHeroContainer{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    font-size: 20px;
    background-image: linear-gradient(0deg, rgba(0, 17, 114, 0.316), rgba(255, 0, 150, 0.5)), url('./img/hero.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    padding: 10px;
    margin: 0 0 20px 0;
  
    @media only screen and (max-width: 800px) {
      min-height: 50vh;
    }
    @media only screen and (max-width: 420px) {
      min-height: 50vh;
    }
}



.header {
    color: white;
    font-size: 10rem;
    text-align: center;
    overflow: hidden;
    background-color: none;
    padding: 22px;
}
>>>>>>> f248685fe9a4aa6668e75a8c28ee8e5800fe771c
