.MainHeroContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    font-size: 20px;
    background-image: linear-gradient(0deg, rgba(0, 17, 114, 0.316), rgba(255, 0, 150, 0.5)), url('./img/hero.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    padding: 10px;
    margin: 0 0 20px 0;
}



.header {
    color: white;
    font-size: 8rem;
    text-align: center;
    overflow: hidden;
    background-color: none;
    padding: 22px;
    margin: 3px 8rem;
}

@media only screen and (max-width: 895px) {
  .header{
    font-size: 4.5rem;
    padding: 11px;
    margin: 1px 10.5px;
  }
  .MainHeroContainer{
    min-height: 50vh;
    padding: 11px;
    margin: 1px 15.5px;
  }
}
@media only screen and (max-width: 420px) {
  .header{
    font-size: 2.5rem;
    padding: 19px;
    margin: 0;
  }

  .MainHeroContainer{
    min-height: 50vh;
  }
}