.aboutheader {
  font-size: 4.5em;
  font-weight: bold;
}

.aboutheader2 {
  font-size: 3em;
  font-weight: bold;
}

.aboutheader3 {
  font-size: 2.5em;
  font-weight: bold;
}

.container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  margin: 0;
  line-height: normal;
  background-color: white;
}

.about {
  margin-left: 24rem;
}

.aboutpage {
  display: flex;
  flex-flow: column wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 20px;
  color: white;
  background-image: linear-gradient(
      0deg,
      rgba(0, 17, 114, 0.316),
      rgba(255, 0, 150, 0.5)
    ),
    url('../Hero/img/hero.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 20px;
  margin: 0 0 20px 0;
  z-index: -99999999;
}

.aboutcontentcontainer {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-gap: 1rem;
  width: 100%;
  min-height: 80vh;
  padding: 2rem;
  box-sizing: border-box;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  margin: 0;
  line-height: normal;
}

.Githubbtn {
  width: 225px;
  height: 45px;
  display: inline-block;
  background-color: rgb(195, 18, 121);
  color: white;
  border: 2px solid;
  border-radius: 115px;
  font-size: 24px;
  margin-top: 5vh;

  font-family: inherit;
}

/* ----------- iPhone 4 and 4S ----------- */
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .aboutheader {
    font-size: 2.5em;
    font-weight: bold;
  }

  .aboutheader2 {
    font-size: 2em;
    font-weight: bold;
  }

  .aboutcontentcontainer {
    margin-left: 30px;
  }

  .aboutpage {
    display: flex;
    flex-flow: column wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background-image: linear-gradient(
        0deg,
        rgba(0, 17, 114, 0.316),
        rgba(255, 0, 150, 0.5)
      ),
      url('../Hero/img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .aboutheader {
    font-size: 1.5em;
    font-weight: bold;
  }

  .aboutheader2 {
    font-size: 1.5em;
    font-weight: bold;
  }

  .aboutcontentcontainer {
    margin-left: 30px;
  }

  .aboutpage {
    display: flex;
    flex-flow: column wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background-image: linear-gradient(
        0deg,
        rgba(0, 17, 114, 0.316),
        rgba(255, 0, 150, 0.5)
      ),
      url('../Hero/img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .aboutheader {
    font-size: 2.5em;
    font-weight: bold;
  }

  .aboutheader2 {
    font-size: 1.5em;
    font-weight: bold;
  }

  .aboutcontentcontainer {
    margin-left: 30px;
  }

  .aboutpage {
    display: flex;
    flex-flow: column wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background-image: linear-gradient(
        0deg,
        rgba(0, 17, 114, 0.316),
        rgba(255, 0, 150, 0.5)
      ),
      url('../Hero/img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .aboutheader {
    font-size: 2.5em;
    font-weight: bold;
  }

  .aboutheader2 {
    font-size: 2em;
    font-weight: bold;
  }

  .aboutcontentcontainer {
    margin-left: 30px;
  }

  .aboutpage {
    display: flex;
    flex-flow: column wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background-image: linear-gradient(
        0deg,
        rgba(0, 17, 114, 0.316),
        rgba(255, 0, 150, 0.5)
      ),
      url('../Hero/img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .aboutheader {
    font-size: 2.5em;
    font-weight: bold;
  }

  .aboutheader2 {
    font-size: 2em;
    font-weight: bold;
  }

  .aboutcontentcontainer {
    margin-left: 30px;
  }

  .aboutpage {
    display: flex;
    flex-flow: column wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background-image: linear-gradient(
        0deg,
        rgba(0, 17, 114, 0.316),
        rgba(255, 0, 150, 0.5)
      ),
      url('../Hero/img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
