body {
  margin: 0;
}

div.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #323232;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 30px;
}

a {
  display: block;
  text-align: center;
  padding: 2rem !important;
  color: rgb(226, 223, 223);
  text-decoration: none;
}

 a.active {
  background-color: #e0e0e0;
  color: rgb(0, 0, 0);
}

 a:hover:not(.active) {
  background-color: #555;
  color: rgb(226, 223, 223);
}

div.content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}
