body {
  margin: 0;
}

div.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #323232;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 24px;
  color: rgb(226, 223, 223);
}


.sidenav a {
  padding: 1rem 2rem 1rem 2rem;
  display: block;
  text-align: center;
  text-decoration: none;
}

a.active {
  background-color: #e0e0e0;
  color: rgb(226, 223, 223);
}

.sidenav a:hover:not(.active) {
  background-color: #444;
  color: rgb(226, 223, 223);
}
