.MainExamPage h1 {
  max-height: 10vh;
  width: 100%;
  font-size: 48px;
  display: block;
  color: rgba(35, 35, 35, 1);
  margin: 0%;
}

.MainExamPage h2 {
  font-size: 24px;
  padding: 1.75rem 0 0 0;
  }

.indexButton {
  width: 225px;
  height: 45px;
  display: inline-block;
  padding: 0;
  background-color: rgb(61, 68, 220);
  color: white;
  border: 2px solid;
  border-radius: 115px;
  font-size: 24px;
  margin-top: 5vh;
  margin-right: 5vh;
  font-family: inherit;
}

.MainExamPage a {
  padding: 0;
  font-size: 24px ;
}
.MainExamPage a:hover {
  padding: 0;
  font-size: 24px ;
  color:unset;
}

.indexButton:hover {
  transition: .25s ease-in-out;
  cursor: pointer;
  border-color: black;
}

.MainExamPage {
  padding: 0 0 0 18.75rem;
}
.table{
  padding-top: 5rem;
  padding-bottom: 2rem;
}
