.MainHeroContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  height: 100vh;
  overflow: hidden;
  color: white;
  background-image:
   /* linear-gradient( */
      /* 0deg, */
      /* rgba(0, 17, 114, 0.316),
      rgba(255, 0, 150, 0.5) */
    /* ), */
    url('img/ok.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media only screen and (max-width: 420px) {
    min-height: 50vh;
  }
}

.MainHeroContainer .header:hover {
  letter-spacing: 7.5px;
  text-shadow: 0;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}


.MainHeroContainer .header {
  transition: all 1s ease;
  display: inline block;
  font-size: calc(84 * 100vw / 1400);
  letter-spacing: 2.5px;
  font-optical-sizing: auto;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  background-color: none;
  padding: 22px;
  margin-bottom: 2rem;
}

.MainHeroContainer button {
  transition: all .5s ease;
  align-self: center;
  width: 225px;
  height: 45px;
  color: white;
  border: 2px solid white;
  border-radius: 115px;
  background-color: unset;
  font-size: 24px;
  margin: 0;
  font-family: inherit;
}

.MainHeroContainer button:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

/* .MainHeroContainer button:hover {
  color: rgb(61, 68, 220);
  border-color: rgb(61, 68, 220);
} */

.MainHerobuttonContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.5rem;
}
