h1 {
    max-height: 10vh;
    width: 100%;
    font-size: 48px;
    display: block;
    color: rgba(35, 35, 35, 1);
    margin: 0%;
  }

  .header {
    padding: 5%;
    display: block;
    color: rgba(35, 35, 35, 1);
    width: 100%;
    align-content: flex-end;
    font-size: 24px;
    text-align: left;
  }

  .adminButton {
    width: 225px;
    display: inline-block;
    background-color: rgb(195, 18, 121) ;
    color: white;
    border: 3px solid;
    border-radius: 115px;
    font-size: 24px;
    padding: 1%;
    margin-top: 5vh;
    margin-right: 5vh;
    font-family: inherit ;
  }

  .adminButton:hover {
    cursor: pointer;
    background-color: rgb(122, 0, 71);
  }
